.mt-60 {
  margin-top: 60px;
  /* 上方距 */
}

.header {
  padding: 50px 0px;
  background-image: url(/Users/shawnlai/Desktop/webPractice_2/images/Banner.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-link {
  color: black;
}

/* 頂部導航欄樣式 */
#topNav {
  transition: all 0.3s ease;
  background-color: #212529 !important;
}

/* 滾動後的樣式 */
#topNav.scrolled {
  border-radius: 15px;
  background-color: rgba(33, 37, 41, 0.5) !important;
  margin: 10px 20px;
  width: calc(100% - 40px);
  backdrop-filter: blur(10px);
}

/* 平滑滾動 */
html {
  scroll-behavior: smooth;
}